@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #1f1f1f;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

header {
  height: 100px;
  background-color: #0e0e0e;
}

main {
  margin: 0px 40px 0px 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

.navbar ul {
  padding: 0px;
}

.navbaritem {
  list-style: none;
  display: inline;
  padding: 1em;
  font-weight: bold;
  font-size: 16px;
}

.navbar {
  text-align: center;
}

.contact {
  color: #68b3ad;
}

.nav-logo {
  width: 150px;
  margin: 0 auto;
}

#logo {
  margin-top: 10px;
}

.container p {
  margin-bottom: 40px;
  margin-top: 0;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 0;
  border-bottom: 2px solid white;
  color: inherit;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: transparent;
  font-size: 14px;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

input[type="submit"] {
  color: inherit;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: #68b3ad;
  font-size: 16px;
  font-weight: bold;
}

input:focus,
textarea:focus {
  outline: none;
}

.form-error {
  display: none;
  color: red;
}

.copyright {
  text-align: center;
}

footer {
  margin-top: 110px;
  background-color: #0e0e0e;
  padding: 10px;
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }

  header {
    height: 100px;
  }

  main {
    margin: 0px 150px 0px 150px;
  }

  h1 {
    font-size: 72px;
    line-height: 1em;
  }

  .nav-logo {
    width: 200px;
    margin: 0;
  }

  #logo {
    margin-top: 20px;
    margin-left: 40px;
  }

  .navbar {
    float: right;
  }

  .navbar ul {
    margin: 0;
    margin-right: 40px;
  }

  input[type="text"],
  textarea {
    width: 70%;
  }

  input[type="submit"] {
    width: 70%;
  }

  .form-content {
    text-align: center;
  }

  .left-form {
    margin: ;
  }

  .form-error {
    text-align: inherit;
  }
}
