@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #1f1f1f;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

header {
  height: 100px;
  background-color: #0e0e0e;
}

main {
  margin: 0px 40px 0px 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

.navbar ul {
  padding: 0px;
}

.navbaritem {
  list-style: none;
  display: inline;
  padding: 1em;
  font-weight: bold;
  font-size: 16px;
}

.navbar {
  text-align: center;
}

.home {
  color: #68b3ad;
}

.nav-logo {
  width: 150px;
  margin: 0 auto;
}

#logo {
  margin-top: 10px;
}

.txt-container {
  border-bottom: 2px solid white;
  margin-bottom: 40px;
}

.txt-content p {
  margin-bottom: 40px;
}

.workbox {
  text-align: center;
}

.workbox img {
  width: 100%;
}

.coming-soon-text {
  height: 70px;
}

footer {
  background-color: #0e0e0e;
  padding: 10px;
}

.copyright {
  text-align: center;
}

.copyright p {
  margin: 0;
}

/*-----------web browser-----------*/

@media only screen and (min-width: 875px) {
  header {
    height: 100px;
  }

  main {
    margin: 0px 150px 0px 150px;
  }

  h1 {
    font-size: 72px;
    line-height: 1em;
  }

  .nav-logo {
    width: 200px;
    margin: 0;
  }

  #logo {
    margin-top: 20px;
    margin-left: 40px;
  }

  .navbar {
    float: right;
  }

  .navbar ul {
    margin: 0;
    margin-right: 40px;
  }

  .txt-content {
    max-width: 40%;
    margin-bottom: 80px;
  }

  .workbox {
    display: inline-block;
    margin: 15px;
    width: 40%;
  }

  .work-content {
    text-align: center;
  }

  .coming-soon-text {
    text-align: center;
  }
}
